<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="https://jakarta.ee/xml/ns/jakartaee" xsi:schemaLocation="https://jakarta.ee/xml/ns/jakartaee https://jakarta.ee/xml/ns/jakartaee/web-app_6_0.xsd" version="6.0">
  <servlet>
    <description></description>
    <display-name>SkillServlet</display-name>
    <servlet-name>SkillServlet</servlet-name>
    <servlet-class>ma.ac.esi.referentielCompetences.controleur.SkillServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>SkillServlet</servlet-name>
    <url-pattern>/SkillServlet</url-pattern>
  </servlet-mapping>
  <display-name>Competency  framework</display-name>
  <welcome-file-list>
    <welcome-file>index.html</welcome-file>
    <welcome-file>index.htm</welcome-file>
    <welcome-file>index.jsp</welcome-file>
    <welcome-file>default.html</welcome-file>
    <welcome-file>default.htm</welcome-file>
    <welcome-file>default.jsp</welcome-file>
  </welcome-file-list>
  <servlet>
    <servlet-name>ServletController</servlet-name>
    <servlet-class>ma.ac.esi.referentielCompetences.controleur.ServletController</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ServletController</servlet-name>
    <url-pattern>/servletController</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>AddSkillServlet</display-name>
    <servlet-name>AddSkillServlet</servlet-name>
    <servlet-class>ma.ac.esi.referentielCompetences.controleur.AddSkillServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AddSkillServlet</servlet-name>
    <url-pattern>/AddSkillServlet</url-pattern>
  </servlet-mapping>
</web-app>